<!--Dave von Deschwanden - 301303220 - 05.2023-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4 text-center">Welcome to my <%= title %> page </h1>
    </div>

    <!-- My welcome Page -->
    <% if (title == "Contact") { %>
    <div class="container">

    </div>
    <% } %>





  </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>

  

 